/* Reset some default styles */
body, ul {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #0f0e17;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

h1 {
  color: #f25f4c
}

h2 {
  color: #333;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Header styles */
header {
  background: #333;
  color: #fff;
  padding: 20px 0;
}

nav {
  margin: 0 20px;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #ff8906;
}

/* Home section styles */
#home {
  background: #eee;
  text-align: center;
  padding: 20px 0;
}

#home h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

#home p {
  font-size: 18px;
  margin-bottom: 40px;
}

#slogan {
  font-size: 1.2em;
}

.btn {
  display: inline-block;
  background: #ff8906;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #666;
}

/* About section styles */
#about {
  background-color: #ff8906;
  display: flex;
}

#about-container {

  max-width: 75%;
  margin: 20px auto;
  padding-top: 20px;
  background-color: #f25f4c;
}

#about-container p {
  color: #333;
  letter-spacing: .05em;
}

/* Products section styles */
#products {
  background: #0f0e17;
  padding: 100px 0;
  text-align: center;
}

#products-container {
  max-height: 1200px;
  max-width: 80%;
  margin: auto;
  background-color: #f25f4c;
}

img {
  width: 75%;
}

/* Pop-up section styles */
#pop-up {
    margin: 0 auto;
    text-align: center;
    background-color: #f25f4c;
}


/* Break section styles */
#break {
  height: 50px;
  background-color: #ccc;
}

/* Contact section styles */
#contact {
  background: #ddd;
  padding: 10px 0;
  text-align: center;
}

#contact-top {
  background:#ff8906;
  text-align: center;
}

form input,
form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  background-color:#f25f4c77;
  border-radius: 4px;
}

form textarea {
  height: 80px;
}

form .btn {
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Footer styles */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}




/* Extra styles */

#add-to-cart {
  width: 100px;
  background-color: #ff8906;
}

hr {
  margin: 25px 0;
}

button {
  background-color: #ff8906;
  color: white;
  margin: 5px 0;
  padding: 5px;
  border: none;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}
